:root {
    --primary-color: #9E3B3B;
    --secondary-color: #D25353;
    --tertiary-color: #e26b6b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}