---
import { ui } from '../i18n/ui';

const lang = (Astro.currentLocale || 'it') as keyof typeof ui;
const t = ui[lang];

const targetLang = lang === 'it' ? 'en' : 'it';

const currentPath = Astro.url.pathname;
const targetUrl = currentPath.replace(`/${lang}`, `/${targetLang}`);

import '../components/GlobalFonts.astro';
import '../styles/global.css';
---

<nav class="navbar">
  <div class="logo">PescaDev<span class="blink-line">|</span></div>
  
  <button id="menu-btn" class="hamburger">
    ☰
  </button>

  <ul id="nav-links" class="nav-links">
    <li><a href="/">Home</a></li>
    <li><a href="/about">{t['nav.about']}</a></li>
    <li><a href="/contacts">{t['nav.contacts']}</a></li>
    <li>
      <a href={targetUrl} style="display: flex;">
        <img src={t['home.flag']} alt="Cambia Lingua" width="40" style="cursor: pointer;" />
      </a>
    </li>
  </ul>
</nav>

<style>

  .blink-line {
    animation: blink-animation 1s steps(1, start) infinite;
  }

  @keyframes blink-animation {
    50% {
        visibility: hidden;
    }
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--secondary-color);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    caret-color: transparent;
  }

  .logo {
    font-size: 4.5rem;
    font-weight: bold;
    font-family: 'PixelOperator', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav-links {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    font-size: 1.5rem;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease;
  }

  .nav-links a:hover {
    transition: all 0.3s ease;
    color: #9E3B3B;
    text-shadow: white;
  }

  .hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

@media (max-width: 480px) {

  .navbar {
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    left: 0;
    top: 107px; 
    background: #D25353;
    text-align: center;
    padding: 1rem 0;
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-20px);
    transition: all 0.3s ease-in-out;

    a {
      margin-right: 15px;
      margin-bottom: 15px;
    }
  }

  .nav-links.expanded {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
}
</style>

<script>
  const hamburger = document.getElementById('menu-btn');
  const navLinks = document.getElementById('nav-links');

  if (hamburger && navLinks) {
    hamburger.addEventListener('click', () => {
      navLinks.classList.toggle('expanded');
    });
  }
</script>